{{#if persona}}
<div class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">
      <i class="fa-solid fa-camera-retro"></i>
      GalleryEvents
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <a href="/cerrar_session" class="btn btn-danger">Cerrar Sesion</a>
      </ul>
    </div>
  </div>
</div>
{{else}}
<div class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">
      <i class="fa-solid fa-camera-retro"></i>
      GalleryEvents
    </a>
    
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon">asdasd</span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle btn btn-primary" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          Registrase
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/registro/organizador">Organizador</a>
          <a class="dropdown-item" href="/registro/fotografo">Fotografo</a>
          <a class="dropdown-item" href="/registro/cliente">Cliente</a>
        </div>
      </li>
      </ul>
    </div>
  </div>
</div>


{{/if}}