<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
    {{> arriba}}
</head>
<body>
    {{> navegacion}}
        {{{body}}}
    {{> abajo}}
<script>
 var boton = document.getElementById('MandarValores');
 var checks = document.querySelectorAll('.valorchecks');
 var input = document.getElementById('DarFotos')
 var lista = [];

  boton.addEventListener('click', function() {
        checks.forEach((e)=>{
        if(e.checked == true){
           lista.push(e.value);
        }
    })
   
    input.value = "["+lista+"]"
    console.log(input.value)
  });
  //  console.log(JSON.parse("[1,2]"))   
  

</script>

</body>
</html>